html {
    color: grey;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Crimson Text', serif;
    font-size: 22pt;
  }
 
  body {
    margin: 5%;
    
}
  h1{
    color: black;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-indent: -3rem;
    
  }
  h3{
    color: black;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    text-indent: -2rem;
    
  }

  p {
    font-size: 13pt;
    line-height: 1.4;
  }

.fas{
    font-size: 0.8em;
    color: red;
}
tag1{

}
tag2{
    font-style: italic
}
tag3{
    font-style: bold
}
tag4{
    font-style: ;
}
tag5{

}
tag6{

}
